@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Jaldi:400,700|Raleway:900');


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
    padding: 1em;
    overflow: hidden;
    height: 100vh;
    background-color: #a9b3c0;
}

.top_nav {
    padding: 1rem;
}

.main {
    max-width: 35%;
    min-width: 300px;
    border: 10px solid black;
    margin: 0 auto;
    position: relative;
    top: 15%;
    transform: perspective(1px) translateY(-50%);

}

form.guess_form {
    background-color: #e1e5e9;
    padding: 1.75rem 1rem;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.app_title {
    background-color: black;
    color: #bbc0c4;
    text-align: center;
    padding: 1rem;
}

.app_title span {
    font-size: 2rem;
    vertical-align: 8px;
    color: #fff;
}

h1 {
    display: block;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    font-size: 3rem;
		font-family: 'Raleway', sans-serif;
		letter-spacing: .25rem;
}

.hints {
    background-color: #fff;
    text-align: center;
    padding: 1rem;
}

.hints > h2, .counting > h3 {
    text-transform: uppercase;
    font-family: 'Jaldi', sans-serif;
    color: #000000;
    margin: 0px;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    letter-spacing: .25rem;
    font-size: 1.25rem;
    white-space: pre-wrap;
}

.counting {
    background-color: #b3b8be;
    text-align: center;
    padding: 1.25rem;
}

.counting > h3 {
    font-size: 1.15em;
    letter-spacing: 0.15em;
}

input#num {
    border: none;
    padding: .25em .65em;
    margin-right: .5rem;
    font-family: 'Jaldi', sans-serif;
    width: 55%;
    background-color: #fff;
    color: black;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: .25em;
    font-size: 1.25em;
}

input#num:focus {
    background-color: #c6d506;
    border: 0px;
    outline: none;
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
}

button.guessing, button.info {
    border: none;
    padding: .25em .5em;
    font-size: 1.15em;
    font-family: 'Jaldi', sans-serif;
    width: 28%;
    background-color: #7f8790;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: .25em;
    font-size: 1.25em;
}

button.info {
    width: fit-content;
    font-weight: 700;
    font-size: 1.15em;
}

button.info.left{
    background-color: #798ea5;
    float: left;
    box-shadow: -2px -2px 7px #33404e;
}

button.info.right{
    background-color: #798ea5;
    float: right;
    box-shadow: 2px -2px 7px #33404e;
}

button.info:hover{
    background-color:#a54949;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
}

button.guessing:hover {
    background-color: black;
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
}

button:focus{
	border: 0px;
	outline: none;
}


span {
    color: white;
    text-underline-position: under;
    letter-spacing: normal;
    text-decoration-line: underline;
}

.user_guesses {
    background-color: #161717;
    text-align: left;
    padding: 1.75rem;
}

li {
    display: -webkit-inline-box;
}

button.tiny_guess {
    font-size: 1rem;
    border-radius: .2em;
    background-color: #c6d506;
    margin: .2em;
    border: none;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

ul.user_guesses {
    margin: 0;
}

li {
	text-align: left;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.overlay {
    width: 100%;
    height: 100vh;
    color: #fff;
    background: #e74c3c;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 1000;
    background-color: #e74c3c;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 75px, rgba(255, 255, 255, 0.5) 75px, rgba(255, 255, 255, 0.5) 150px);
}

.content {
    color: #fff;
    background: #94a2b0;
    position: relative;
    height: auto;
    width: 75%;
    border-radius: 3px;
    top: 20%;
    margin: 0 auto;
    border: none;
    text-align: center;
    padding: 1em 0em;
}

.content:before, .content:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 10px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0 15px 10px rgba(0,0,0, 0.7);
    -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.content:after {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 10px;
    left: auto;
}


.content h3 {
    margin: 0;
    padding: 0.4em;
    text-align: center;
    font-size: 2.4em;
    font-weight: 300;
    opacity: 0.8;
    background: rgba(0,0,0,1);
    border-radius: 3px 3px 0 0;
}

.content > div {
    padding: 15px 10%;
    margin: 0;
    font-weight: 300;
    font-size: 1.15em;
    text-align: center;
}

.content > div p {
    padding: 0px;
    line-height: 1.25em;
}

.content > div ul {
    margin-bottom: 0px;
    padding: 0 0 10px 10px;
    text-align: left;
}

.content > div ul li {
    padding: 5px 0;
    display: block; 
    list-style-type: disc;
    line-height: 1.5em;
}

.content > div ul li strong{
    text-decoration: none ;
}

.content > div a, .content > div.fixed a {
    font-size: 1em;
    color: rgb(149, 165, 166);
    padding: 1em;
    font-weight: 600;
    background: rgb(31, 37, 61);
    border-radius: 7px;
    text-decoration: none;
    position: relative;
    display: block;
    text-transform: uppercase;
}

a.close:hover, .content > div.fixed a.close:hover{
    background-color:#a54949;
    color:white;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
}

.content > div.fixed {
    position: absolute;
    top: 0%;
    right: -8%;
}

.content > div.fixed a {
    padding: 0.5em 0.78em;
    font-size: .75em;
}